<html>
<head>
</head>
    <body>
    <h2>Author Page </h2>
    
    <a href="{{path('app_home')}}">Home Page</a>
    <a href="{{path('app_contact')}}">Contact  Us</a>
    <a href="{{path('app_author_show')}}">Author Page</a>

    <h1>the author Name is : {{authorName}}</h1>
    <h1>the author Mail is : {{authorEmail}}</h1>

    
    </body>
    



</html>